@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}
body {
  overflow-y: scroll;
}
body {
  @apply leading-normal tracking-[-0.32px];
}
